<form id="actor-import-options" autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label>{{localize "Type"}}</label>
        <select id="actor-import-type" name="type">
        {{#each types}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
        <p class="notes">{{localize "ENTITY.TypeHint"}}</p>
    </div>

    <div class="form-group">
        <label>Don't create actors that exist with name:</label>
        <input id="actor-import-duplicate" name="duplicate" type="checkbox">
    </div>
</form>
